.svn-base
.svn
.idea
.DS_Store
.project
nbproject
**/logs/*
**/cache/*
.vscode/
upload/*
arquivos/*
.settings/
.zfproject.xml
nbbuild/
nbdist/
.nb-gradle/
[Dd]esktop.ini
.classpath
pom.xml
*.log
/application/configs/keycloak.ini
/application/data/cache/*
/application/data/log/*
/application/data/arquivos/*
/logs/application.log
/.buildpath
