# Hide a specific file
<FilesMatch "(^\.)|artisan|(composer|package).(json|lock)|error_log|phpunit.xml|webpack.mix.js|\.ini">
    Order allow,deny
    Deny from all
</FilesMatch>
AddDefaultCharset UTF-8
php_value default_charset UTF-8
