/*SAPS 110567*/

textarea {
    height: 39px !important;

}

.ui-dialog .ui-dialog-buttonpane {
    margin-top: -10px !important;
}

.row {
    margin-top: 5px !important;
}

div.portlet-marron {
    margin-left: 0 !important;
    padding: 5px;
    width: 99%;
    margin-bottom: 40px;
}

div.portlet-marron .title {
    margin-left: 23px;
}

form#form-pesquisar .row {
    margin-left: 0px;
}

#toolbar2 {
    margin-bottom: 20px;
}

.relspan {
    display: block !important;
    overflow: hidden !important;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    margin-bottom: 10px;
}

div.ui-jqgrid-bdiv {
    height: unset !important;
}