/*
.x-form-item {
    -x-system-font:none;
    display:block;
    font-family:tahoma,arial,helvetica,sans-serif;
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin-bottom:4px;
}

.x-form-label-left label {
    text-align:left;
}

.x-form-item label {
    width:75px;
    clear:left;
    display:block;
    float:left;
    padding:3px 3px 3px 0;
    position:relative;
    width:100px;
    z-index:2;
    font-weight: bold;
}

.x-form-element {
    padding-left:80px;
    position:relative;
}

.x-form-text, textarea.x-form-field {
    background:#FFFFFF url(../img/text-bg.gif) repeat-x scroll 0 0;
    border:1px solid #B5B8C8;
   
    vertical-align:middle;
}



.x-form-field {
    -x-system-font:none;
    font-family:tahoma,arial,helvetica,sans-serif;
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin:0;
}

.x-form-clear-left {
    clear:left;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}
*/
.box {
    background:#F7F7F7 none repeat scroll 0 0;
    border:1px solid #DADADA;
    /*padding:15px 20px;*/
}

.avisos {
    background:#fff none repeat scroll 0 0;
    border:1px solid #fff;
}


h3 {
    color:#222;
    font:normal 16px helvetica, Verdana;
    /*margin:10px 0;*/
}

/*ERROS*/
ul.errors {
    padding:0;
    margin:2px 0 0 !important;

}

ul.errors li {
    font:10px Arial,sans-serif;
    color:#EC4A24 !important;
    list-style-type:none;

}
dt {
    margin:10px 0 0;
}
dd {
    margin:0;
}

select {
    margin:0;
}

h2.thin {
    font-weight:lighter;
}
h3.thin {
    font-weight:lighter;
}

.form-buttons {
    padding:0;
    margin:0;
    border:0;
    border-top:1px solid #E4E4E4;
    clear:both;
    margin-top:3em;
    padding-top:8px;
    text-align:right;
}

.description {
    font-size: 10px; color: #555; font-style: italic;
    
}

.form-buttons {
    padding:0;
    margin:0;
    border:0;
    border-top:1px solid #E4E4E4;
    clear:both;
    margin-top:3em;
    padding-top:8px;
    text-align:right;
}

.form-actions {
  padding: 17px 20px 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}

/*XXXX form bootstrap XXXX*/
.form-stacked {
    padding-left: 20px;
}
.form-stacked fieldset {
    padding-top: 9px;
}
.form-stacked legend {
    margin: 0;
}
.form-stacked label {
    display: block;
    float: none;
    width: auto;
    font-weight: 700;
    text-align: left;
    line-height: 20px;
    padding-top: 0;
}
.form-stacked .ui-helper-clearfix {
    margin: 0 0 9px;
}
.form-stacked .ui-helper-clearfix .ui-form-wrapper {
    margin: 0;
}
.form-stacked .ui-form-list {
    margin: 0;
}
.form-stacked .ui-form-list li {
    padding: 0;
}
.form-stacked .ui-form-list li label {
    font-weight: 400;
    padding: 0;
}
.form-stacked div.ui-state-error {
    padding: 10px 0 10px 10px;
    margin: 0 0 9px -10px;
    position:relative;
}
.form-stacked .actions {
    margin: 0 0 0 -20px;
    padding-left: 20px;
}

.endereco {
    margin: 10px 0;
}
.endereco .complemento {
    color: #003366;
}

.endereco .end {
    font-size: 10px;
    color: #718BA6;
}

.endereco .telefone {
    font-size: 12px;
    color: #003366;
}