
#login {

    width: 30%;
    margin: 0 auto;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 8px;
    box-shadow: 8px 8px 8px #888888;
}

.bem-vindo {

    background-color: #E7D9A8;
    border: 2px #ccc solid;
    padding-left: 3px;
    text-align: center;
    border-radius: 8px;
}