/*SAPS 110567*/

.ui-layout-pane-west {
    overflow: auto !important;
    width: 42px !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    margin-left: -10px !important;
}

.ui-corner-bottom {
    margin-top: -300px !important;
}

.ui-widget-content {

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
/ / margin-top: - 10 px;
}

#list2 {
/ / height: 200 px !important;
}

#form-assinaDoc {
    overflow: hidden;
}

